SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://pediatric_clinic_user:pediatric_clinic_password@localhost:5432/pediatric_clinic

POSTGRES_USER=pediatric_clinic_user
POSTGRES_PASSWORD=pediatric_clinic_password
POSTGRES_DB=pediatric_clinic
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
APP_PORT=5052