{% extends "base.html" %}

{% block content %}

<div class="container mt-5 pt-5">

    <h1 class="text-primary fw-bold mb-4">
        About Angel Care Pediatric Hospital
    </h1>

    <p class="lead">
        Angel Care Pediatric Hospital is dedicated to providing quality
        pediatric and child healthcare services with compassion,
        professionalism and innovation.
    </p>

    <p>
        We focus on child wellness, developmental care, early diagnosis
        and specialized pediatric support for children of all ages.
    </p>

</div>

{% endblock %}